.person {
    .text-center {
        text-align: center;
    }
    .person-top {
        margin-top: 20px;
    }
    .person-top1 {
        margin-top: 30px;
    }
    .title_h {
        height: 35px;
        line-height: 35px;
    }
    .float-left {
        float: left;
    }
    .float-right {
        float: right;
        margin-top: 2px;
    }
    .text-person-agreement-wenzi {
        color: $color-gray-dark;
        font-size: 14px;
    }
}