<app-header [header]="header"></app-header>
<div class="person">
    <div class="certified-identity">
        <div class="weui-cells__title">{{'text-certified-identity' | translate }}</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">{{'text-name' | translate }}</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" [(ngModel)]="personValidate.fullName" placeholder="{{'text-input-please' | translate }}">
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">{{'text-identity' | translate }}</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" [(ngModel)]="personValidate.identityNumber" placeholder="{{'text-input-please' | translate }}">
                </div>
            </div>
        </div>
    </div>

    <div class="certified-phone person-top1">
        <div class="weui-cells__title title_h">
            <span class="float-left">{{'text-certified-phone' | translate }}</span>
            <!-- <input class="weui-switch float-right" type="checkbox" [(ngModel)]="validateObj['3'].isSelect" (ngModelChange)="calculateMenoy()"> -->
            <input class="weui-switch float-right" type="checkbox" [(ngModel)]="validateObj['phone'].isSelect">
        </div>
        <div class="weui-cells" *ngIf="validateObj['phone'].isSelect">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">{{'text-phone' | translate }}</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" placeholder="{{'text-input-please' | translate }}" [(ngModel)]="phoneValidate.mobile">
                </div>
            </div>

            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd"><label class="weui-label">{{'text-check-code' | translate }}</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="{{'text-input-please' | translate }}" [(ngModel)]="phoneValidate.code">
                </div>
                <div class="weui-cell__ft" (click)="sendCode(phoneValidate.mobile)">
                    <button class="weui-vcode-btn" [weui-vcode]="onSendCode" weui-seconds="10" weui-tpl="${num}s" weui-error="重新发送">获取验证码</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-debit person-top1">
        <div class="weui-cells__title title_h">
            <span class="float-left">{{'text-card-debit' | translate }}</span>
            <!-- <input class="weui-switch float-right" type="checkbox" [(ngModel)]="validateObj['4'].isSelect" (ngModelChange)="calculateMenoy()"> -->
            <input class="weui-switch float-right" type="checkbox" [(ngModel)]="validateObj['bankCard'].isSelect">
        </div>
        <div class="weui-cells" *ngIf="validateObj['bankCard'].isSelect">

            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">{{'text-card-debit' | translate }}</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" placeholder="{{'text-input-please' | translate }}" [(ngModel)]="debitCard.cardNumber">
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">{{'text-phone-reserve' | translate }}</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" placeholder="{{'text-input-please' | translate }}" [(ngModel)]="debitCard.cardMobile">
                </div>
            </div>

            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd"><label class="weui-label">{{'text-check-code' | translate }}</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="{{'text-input-please' | translate }}" [(ngModel)]="debitCard.cardCode">
                </div>
                <div class="weui-cell__ft" (click)="sendCode(debitCard.cardMobile)">
                    <button class="weui-vcode-btn" [weui-vcode]="onSendCode1" weui-seconds="10" weui-tpl="${num}s" weui-error="重新发送">获取验证码</button>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-commit" (click)="onCommit()">
        {{'text-pay' | translate}}{{payMoney}}{{unit}}
    </div>
</div>