@import './../../theme/variables';
.nav-bar-box {
    width: 100%;
    background-color: #ffffff;
    height: $header-height;
    line-height: $header-height;
    // position: fixed;
    top: 0px;
    display: -webkit-box;
    border-bottom: solid 1px #ddd;
    z-index: 999;
    position: absolute;
    .nav-bar-back {
        margin-left: 10px;
        height: 20px;
        width: 30px;
        margin-top: 16px;
        display: block;
        z-index: 22;
        position: absolute;
    }
    .nav-bar-right {
        width: 30px;
        height: 30px;
        display: block;
        z-index: 22;
        right: 10px;
        top: 8px;
        position: absolute;
    }
    .title {
        display: block;
        text-align: center;
        top: 0px;
        z-index: 1;
        position: absolute;
        width: 100%;
    }
}