<ion-content>
    <div class="home-top">
        <img src="./assets/images/icon/ion-list.svg" class="home-top-button-left" (click)="onClick(0)">
        <img src="" class="home-top-button-left" style="color: #fff;">
        <img src="./assets/images/icon/icon-manager.svg" class="home-top-button-right" (click)="onClick(1)">
    </div>

    <div>
        <div class="home-top-box">
            <img src="./assets/images/icon/icon-wallet.svg">
            <div style="font-size: 1.6em;">{{wallet.name}}</div>

        </div>

        <div class="weui-cells__title">
            {{'text-coin-list' | translate}}
            <div class="home-eye" (click)="onOpen()" [ngClass]="{'home-eye-on':wallet.showBalance,'home-eye-off':!wallet.showBalance }"></div>

        </div>

        <ul class="weui-cells">

            <li class="weui-cell weui-cell_access" (click)="onItem(ElaObj)">
                <div class="weui-cell__hd">
                    <img src="./assets/images/logo-maincolor.svg" alt="" class="home-list-img">
                </div>
                <div class="weui-cell__bd home-list-title">
                    {{ElaObj.name}}
                </div>
                <div class="weui-cell__ft"><span [hidden]="!wallet.showBalance">{{ElaObj.balance}}</span></div>
            </li>

            <progress-bar proportion="{{elaPer}}"></progress-bar>
            <div *ngFor="let item of coinList" (click)="onItem(item)">
                <li class="weui-cell weui-cell_access">
                    <div class="weui-cell__hd">
                        <img src="./assets/images/logo-maincolor.svg" alt="" class="home-list-img"></div>
                    <div class="weui-cell__bd home-list-title">
                        {{item.name}}
                    </div>
                    <div class="weui-cell__ft"><span [hidden]="!wallet.showBalance">{{item.balance}}</span></div>
                </li>
                <progress-bar proportion="{{idChainPer}}"></progress-bar>
            </div>
        </ul>
    </div>
</ion-content>