<app-header [header]="header"></app-header>
<div class="weui-cells">


    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <p>{{'wallet-name' | translate}}</p>
            <p>{{walletName}}</p>
        </div>
    </a>

    <a class="weui-cell weui-cell_access" href="javascript:;" (click)="onItem(0)">
        <div class="weui-cell__bd">
            <p>{{'wallet-export' | translate}}</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>

    <a class="weui-cell weui-cell_access" href="javascript:;" (click)="onItem(1)">
        <div class="weui-cell__bd">
            <p>{{'wallet-password-reset' | translate}}</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>

    <a class="weui-cell weui-cell_access" style="color: red;" href="javascript:;" (click)="onItem(2)">
        <div class="weui-cell__bd">
            <p>{{'wallet-delete' | translate}}</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>

</div>