node_modules/
.sourcemaps/main.js.map
www/build
platforms/android/.gradle/
.idea/
platforms/android/CordovaLib/build/
platforms/android/app/.externalNativeBuild/
platforms/android/app/build/
platforms/android/app/src/main/assets/www/build/
platforms/android/build/
platforms/android/gradle/
platforms/android/gradlew
platforms/android/gradlew.bat
.vscode/
platforms/android/.idea/
www/assets/

