node_modules/
.sourcemaps/main.js.map
.idea/
.vscode/
.DS_Store
www/build
www/assets/
platforms/android/.gradle/
platforms/android/CordovaLib/build/
platforms/android/app/.externalNativeBuild/
platforms/android/app/build/
platforms/android/app/src/main/assets/www/build/
platforms/android/app/src/main/java/ElaWallet/
platforms/android/build/
platforms/android/gradle/
platforms/android/gradlew
platforms/android/gradlew.bat
platforms/android/.idea/
plugins/ElaWallet/src/android/Wallet.java
plugins/ElaWallet/src/android/com/elastos/spvcore/MasterWalletManager.java
plugins/ElaWallet/src/android/com/elastos/spvcore/IDidManager.java
cscope.*
tags
.*.swp
