<weui-tabbar>
    <weui-tab heading="{{ 'tab-home' | translate }}" [icon]="'<img src=./assets/images/icon_tabbar.png>'">
        <article>
            <app-home></app-home>
        </article>
    </weui-tab>

    <weui-tab heading="{{ 'tab-my' | translate }}" [icon]="'<img src=./assets/images/icon_tabbar.png>'">
        <article>
            <app-my></app-my>

        </article>
    </weui-tab>
</weui-tabbar>
<!-- <ion-tabs>
    <ion-tab [root]="homeRoot" tabTitle="{{ 'tab-home' | translate }}" tabIcon="tab-home"></ion-tab>
    <ion-tab [root]="settingsRoot" tabTitle="{{ 'tab-my' | translate }}" tabIcon="tab-settings"></ion-tab>
</ion-tabs> -->