.conttacts{
    .conttacts-font-size-12{
        font-size: 12px;
    }

    .conttacts-font-size-13{
        font-size: 13px;
    }

    .conttacts-row{
        text-align: center;
    }

    .conttacts-row-top-10{
        margin-top:10px;
    }

    .conttacts-row-top-30{
        margin-top:15px;
    }

    .conttacts-inline-block{
      display: inline-block;
    }

    .conttacts-row-bottom-20{
        padding-bottom:15px;
    }
}