<app-header [header]="header"></app-header>
<div class="conttacts">
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd conttacts-font-size-13">
                <p>{{'text-contacts-name' | translate }}</p>
            </div>
            <div class="weui-cell__ft conttacts-font-size-12"> {{contactUser["name"]}} </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd conttacts-font-size-13">
                <p>{{'text-contacts-address' | translate }}</p>
            </div>
            <div class="weui-cell__ft conttacts-font-size-12"> {{contactUser["address"]}} </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd conttacts-font-size-13">
                <p>{{'text-contacts-phone' | translate}}</p>
            </div>
            <div class="weui-cell__ft conttacts-font-size-12"> {{contactUser["phone"]}} </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd conttacts-font-size-13">
                <p>{{'text-contacts-email' | translate}}</p>
            </div>
            <div class="weui-cell__ft conttacts-font-size-12"> {{contactUser["email"]}} </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd conttacts-font-size-13">
                <p>{{'text-remark' | translate}}</p>
            </div>
            <div class="weui-cell__ft conttacts-font-size-12"> {{contactUser["remark"]}} </div>
        </div>
    </div>
    <div class="conttacts-row conttacts-row-top-30">
        <qrcode class="conttacts-inline-block" [qrdata]="qrcode" [size]="200" [level]="'M'"></qrcode>
    </div>
    <div class="conttacts-row conttacts-row-top-30 conttacts-row-bottom-20">
        <button weui-button [weui-mini]="'mini'" (click)="pay()">{{'text-transfer' | translate}}</button>
    </div>
</div>