<app-header [header]="header"></app-header>
<div class="settings">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_switch">
            <div class="weui-cell__bd">{{'text-gesture-pwd' | translate }}</div>
            <div class="weui-cell__ft">
                <input class="weui-switch" type="checkbox" [(ngModel)]="cho1" name="cho1">
            </div>
        </div>

        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">{{'text-language' | translate }}</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" name="select2" [(ngModel)]="country" name="country">
                        <option value="1">简体中文</option>
                        <option value="2">English</option>
                    </select>
            </div>
        </div>
    </div>
</div>