<app-header [header]="header"></app-header>
<div class="contact-create">
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input contact-create-font-size-14" type="text" placeholder="{{'text-contacts-name' | translate }}" [(ngModel)]="name">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input contact-create-font-size-14" type="text" placeholder="{{'text-contacts-address' | translate }}" [(ngModel)]="address">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input contact-create-font-size-14" type="text" placeholder="{{'text-contacts-phone' | translate }}" [(ngModel)]="phone">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input contact-create-font-size-14" type="text" placeholder="{{'text-contacts-email' | translate }}" [(ngModel)]="email">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input contact-create-font-size-14" type="text" placeholder="{{'text-remark' | translate }}" [(ngModel)]="remark">
            </div>
        </div>
    </div>
    <div class="contact-create-row contact-create-row-top-30">
        <button weui-button [weui-mini]="'mini'" (click)="add()">{{'text-add' | translate}}</button>
    </div>
</div>