.contact-create{
    .contact-create-font-size-14{
        font-size: 14px;
    }

    .contact-create-row{
        text-align: center;
    }

    .contact-create-row-top-30{
        margin-top: 15px;
    }

    .contact-create-bottom-20{
        padding-bottom:15px;
    }
}