<app-header [header]="header"></app-header>
<div class="mnemonic">
    <div class="slide-container">
        <div class="slide-title">{{ 'text-mnemonic-prompt' | translate}}</div>
        <div class="slide-body">
            <div class="phrase-container">
                <div class="phrase">
                    <span *ngFor="let item of mnemonicList;let i=index">
                      <span>{{item.text}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="bottom-button">
            <button ion-button class="button-standard" (click)="onNext()">
                {{ 'text-memory' | translate }}
            </button>
        </div>
    </div>
    <!-- <div class="mnemonic-show">

        <div>
            <ul class="mnemonic-list-read">
                <li *ngFor="let item of mnemonicList">{{item.text}}</li>
            </ul>
        </div> -->

    <!-- <div class="mnemonic-prompt">{{ 'text-mnemonic-prompt' | translate}}</div>

    <button class="button-default bottom" style="margin-top: 40px" (click)="onNext()">{{ 'text-memory' | translate }}</button> -->
    <!-- </div> -->


    <!-- <div class="mnemonic-password">
    <div class="weui-cells__title title_h">
        <span class="float-left">{{'text-mnemonic-label' | translate }}</span>
        <input class="weui-switch float-right" type="checkbox" [(ngModel)]="isSelect">
    </div>
    <div class="weui-cells" *ngIf="isSelect">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="password" placeholder="{{ 'text-mnemonic-pwd' | translate }}" [(ngModel)]="mnemonicPassword">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="password" placeholder="{{ 'text-mnemonic-repwd' | translate }}" [(ngModel)]="mnemonicRepassword">
            </div>
        </div>
    </div>
</div> -->
</div>