<app-header [header]="header"   ></app-header>

<div>

  <div class="weui-cells">
    <div class="weui-cell">
        <input class="weui-input" type="text" placeholder="{{ 'text-receiver-address' | translate}}" [(ngModel)]="transfer.toAdd" />
        <img  (click)="onClick(1)" class="transfer-account" src="./../../../assets/images/icon/icon-account.svg">
    </div>
      <div class="weui-cell">
        <input class="weui-input" type="text" placeholder="{{ 'text-price' | translate}}" [(ngModel)]="transfer.amount" />

        <span class="transfer-balance">{{'text-balance' | translate}}：{{balance}}</span>
    </div>
    <div class="weui-cell">
      <textarea class="weui-textarea" placeholder="{{ 'text-remark' | translate}}" rows="3" [(ngModel)]="transfer.remark"
                weui-textarea weui-cn="2" maxlength="20"></textarea>
    </div>

  </div>
  <div class="weui-cells__tips">{{ 'text-fees' | translate}}：0.001ELA</div>
  <div class="weui-cells__title">{{'text-fees-pay' | translate}}</div>

  <div class="weui-cells weui-cells_radio">
    <label class="weui-cell weui-check__label" >
      <div class="weui-cell__bd">
        <p>{{'text-fees-pay-sender' | translate}}</p>
      </div>
      <div class="weui-cell__ft">
        <input type="radio" class="weui-check" [(ngModel)]="transfer.payfees" name="radio1" [value]="1">
        <span class="weui-icon-checked"></span>
      </div>
    </label>
    <label class="weui-cell weui-check__label" >
      <div class="weui-cell__bd">
        <p>{{'text-fees-receiver' | translate}}</p>
      </div>
      <div class="weui-cell__ft">
        <input type="radio" class="weui-check" [(ngModel)]="transfer.payfees" name="radio1" [value]="2">
        <span class="weui-icon-checked"></span>
      </div>
    </label>
  </div>


  <button class="button-default bottom transfer-button" (click)="onClick(2)">{{ 'confirm' | translate }}</button>
</div>

<weui-dialog #auto [config]="con"></weui-dialog>
<weui-toptips #toptips></weui-toptips>

