<ion-header>
    <ion-navbar>
        <ion-title style="text-align:center">{{'text-transfer' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="rightHeader()">
            <img src="assets/images/icon/ico-scan.svg" style="width: 40px;height:30px">
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div>

        <div class="weui-cells">
            <div class="weui-cell">
                <!-- <input class="weui-input" type="text" placeholder="{{ 'text-receiver-address' | translate}}" [(ngModel)]="transfer.toAddress" [(disabled)]="isInput" /> -->
                <!-- <img (click)="onClick(1)" class="transfer-account" src="./assets/images/icon/icon-account.svg"> -->
                <textarea class="weui-textarea" placeholder="{{ 'text-receiver-address' | translate}}" rows="2" [(ngModel)]="transfer.toAddress" weui-textarea weui-cn="2"></textarea>
            </div>
            <div class="weui-cell">
                <span class="transfer-balance">{{'text-balance' | translate}}：{{balance/SELA}}</span>
                <input class="weui-input" type="text" placeholder="{{ 'text-price' | translate}}" [(ngModel)]="transfer.amount" [(disabled)]="isInput" />
            </div>
            <div class="weui-cell">
                <textarea class="weui-textarea" placeholder="{{ 'text-remark' | translate}}" rows="3" [(ngModel)]="transfer.remark" weui-textarea weui-cn="2" maxlength="20"></textarea>
            </div>

        </div>
        <!-- <div class="weui-cells__tips">{{ 'text-fees' | translate}}：0.001ELA</div> -->
        <!--<div class="weui-cells__title">{{'text-fees-pay' | translate}}</div>-->

        <!--<div class="weui-cells weui-cells_radio">-->
        <!--<label class="weui-cell weui-check__label" >-->
        <!--<div class="weui-cell__bd">-->
        <!--<p>{{'text-fees-pay-sender' | translate}}</p>-->
        <!--</div>-->
        <!--<div class="weui-cell__ft">-->
        <!--<input type="radio" class="weui-check" [(ngModel)]="transfer.payfees" name="radio1" [value]="1">-->
        <!--<span class="weui-icon-checked"></span>-->
        <!--</div>-->
        <!--</label>-->
        <!--<label class="weui-cell weui-check__label" >-->
        <!--<div class="weui-cell__bd">-->
        <!--<p>{{'text-fees-receiver' | translate}}</p>-->
        <!--</div>-->
        <!--<div class="weui-cell__ft">-->
        <!--<input type="radio" class="weui-check" [(ngModel)]="transfer.payfees" name="radio1" [value]="2">-->
        <!--<span class="weui-icon-checked"></span>-->
        <!--</div>-->
        <!--</label>-->
        <!--</div>-->


        <button class="button-default bottom transfer-button" (click)="onClick(2)">{{ 'text-transfer' | translate }}</button>
    </div>
    <weui-popup #subscribe>
        <div class="pop-box">
            <div class="weui-cells" style="margin: 0px;padding: 0px">

                <div class="pop-title">{{'transfer-info' | translate}}<img class="close" src="./assets/images/icon/icon-close.svg" (click)="onClick(3)"></div>
                <div class="weui-cell">
                    <p><span>{{'transfer-address' | translate}}</span><span>{{transfer.toAddress}}</span></p>

                </div>
                <div class="weui-cell">

                    <p><span>{{'text-price' | translate}}</span><span>{{transfer.amount}}</span></p>
                </div>
                <div class="weui-cell">

                    <p><span>{{'text-fees' | translate}}</span><span>{{transfer.fee/SELA}}</span></p>
                </div>

            </div>

            <div class="weui-cell">
                <input class="weui-input" type="password" placeholder="{{ 'text-pay-passworld-input' | translate }}" [(ngModel)]="transfer.payPassword">
            </div>
            <div class="button-default " style="margin: 20px auto" (click)="onClick(4)">{{ 'confirm' | translate }}</div>

        </div>

    </weui-popup>
</ion-content>
<!--<weui-dialog #auto [config]="con"></weui-dialog>-->
<!--<weui-toptips #toptips></weui-toptips>-->