<div class="my">
    <div class="my-title">
        <p>{{'text-wallet-manager' | translate }}</p>
    </div>
    <div class="weui-cells">
        <!-- <a class="weui-cell weui-cell_access my-row" href="javascript:;" (click)="onNext(1)">
            <div class="weui-cell__bd my-font-size-14 my-font-size-top">
                <p>{{'text-notice' | translate }}</p>
            </div>
            <div class="weui-cell__ft">8</div>
        </a>
 -->

        <a class="weui-cell weui-cell_access my-row" href="javascript:;" (click)="onNext(0)">
            <div class="weui-cell__bd my-font-size-14  my-font-size-top">
                <p>{{'text-wallet-manager' | translate }}</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>

        <a class="weui-cell weui-cell_access my-row" href="javascript:;" (click)="onNext(2)">
            <div class="weui-cell__bd my-font-size-14  my-font-size-top">
                <p>{{'text-contacts' | translate }}</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>


        <!-- <a class="weui-cell weui-cell_access my-row" href="javascript:;" (click)="onNext(3)">
            <div class="weui-cell__bd my-font-size-14  my-font-size-top">
                <p>{{'text-setting' | translate }}</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
 -->
        <!-- <a class="weui-cell weui-cell_access my-row" href="javascript:;" (click)="onNext(4)">
            <div class="weui-cell__bd my-font-size-14  my-font-size-top">
                <p>{{'text-about' | translate }}</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a> -->

        <!-- <a class="weui-cell weui-cell_access my-row" href="javascript:;" (click)="onNext(5)">
            <div class="weui-cell__bd my-font-size-14  my-font-size-top">
                <p>{{'text-help' | translate }}</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
 -->
        <!-- <a class="weui-cell weui-cell_access my-row" href="javascript:;" (click)="onNext(6)">
            <div class="weui-cell__bd my-font-size-14  my-font-size-top">
                <p>{{'text-id-my' | translate }}</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a> -->

    </div>
</div>