<div class="my">
    <div class="my-title">
        <p>钱包管理</p>
    </div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access my-row" href="javascript:;" (click)="tiaozhuan(' ')">
            <div class="weui-cell__bd my-font-size-14 my-font-size-top">
                <p>{{'text-notice' | translate }}</p>
            </div>
            <div class="weui-cell__ft">8</div>
        </a>
        <a class="weui-cell weui-cell_access my-row" href="javascript:;" (click)="tiaozhuan('/contactsList')">
            <div class="weui-cell__bd my-font-size-14  my-font-size-top">
                <p>{{'text-contacts' | translate }}</p>
            </div>
            <div class="weui-cell__ft">8</div>
        </a>


        <a class="weui-cell weui-cell_access my-row" href="javascript:;" (click)="tiaozhuan('/settings')">
            <div class="weui-cell__bd my-font-size-14  my-font-size-top">
                <p>{{'text-setting' | translate }}</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>

        <a class="weui-cell weui-cell_access my-row" href="javascript:;" (click)="tiaozhuan('')">
            <div class="weui-cell__bd my-font-size-14  my-font-size-top">
                <p>{{'text-about' | translate }}</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>

        <a class="weui-cell weui-cell_access my-row" href="javascript:;" (click)="tiaozhuan('')">
            <div class="weui-cell__bd my-font-size-14  my-font-size-top">
                <p>{{'text-help' | translate }}</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>

    </div>
</div>