<app-header [header]="header"   ></app-header>

<div class="recordinfo-top">
  <p>{{walletName}}</p>
</div>

<div class="weui-form-preview">
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">余额</label>
      <span class="weui-form-preview__value">100</span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">名称</label>
      <span class="weui-form-preview__value">free</span>
    </div>
  </div>
</div>
