<app-header [header]="header"   ></app-header>

<div class="recordinfo-top">
  <p>{{walletName}}</p>
</div>

<div class="weui-form-preview">
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">aaa</label>
      <span class="weui-form-preview__value">sss</span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">aaa</label>
      <span class="weui-form-preview__value">sss</span>
    </div>
  </div>
</div>
