<app-header [header]="header"   ></app-header>


<div>

  <div class="weui-cells">

    <div class="weui-cell">
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" placeholder="{{ 'text-wallet-name' | translate }}" [(ngModel)]="wallet.name">
      </div>

    </div>

    <div class="weui-cell">
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" placeholder="{{ 'text-pwd' | translate }}" [(ngModel)]="wallet.pwd">
      </div>

    </div>

    <div class="weui-cell">
      <div class="weui-cell__bd">
        <input class="weui-input" type="password" placeholder="{{ 'text-pwd-repeat' | translate }}" [(ngModel)]="wallet.rePwd">
      </div>
    </div>
  </div>

  <button class="button-default bottom wallet-button" (click)="onCreate()">{{ 'confirm' | translate }}</button>

</div>


