<app-header [header]="header"></app-header>


<div>

    <div class="weui-cells">

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="{{ 'text-wallet-name' | translate }}" [(ngModel)]="wallet.name">
            </div>

        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="password" placeholder="{{ 'text-pay-password' | translate }}" [(ngModel)]="wallet.payPassword">
            </div>

        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="password" placeholder="{{ 'text-pay-repassword' | translate }}" [(ngModel)]="wallet.rePayPassword">
            </div>
        </div>


    </div>
    <label for="weuiAgree" class="weui-agree">
    <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox" [(ngModel)]="wallet.singleAddress" name="agree">
    <span class="weui-agree__text">
               &nbsp;&nbsp;{{'text-signaddress' | translate }}
            </span>
  </label>


    <button class="button-default bottom wallet-button" (click)="onCreate()">{{ 'confirm' | translate }}</button>

</div>

<!--<weui-mask #mask ></weui-mask>-->

<!--<weui-dialog #auto [config]="con"></weui-dialog>-->
