<ion-header>
    <app-header [header]="header"></app-header>
</ion-header>

<ion-content no-bounce>
    <div class="huadong">
        <div class="weui-cells" style="margin-bottom: 20px" *ngFor="let item of backcardList;" (click)="onNext(item)">
            <a class="weui-cell weui-cell_access my-row" href="javascript:;">
                <div class="weui-cell__bd my-font-size-14  my-font-size-top">
                    <p class="line-height">{{'text-name' | translate }}：{{item["payObj"]["parms"]["fullName"]}}</p>
                    <p class="line-height">{{'text-identity' | translate }}：{{item["payObj"]["parms"]["identityNumber"]}}</p>
                    <p class="line-height">{{'text-phone' | translate }}：{{item["payObj"]["parms"]["cardMobile"]}}</p>
                    <p class="line-height">{{'text-card' | translate }}：{{item["payObj"]["parms"]["cardNumber"]}}</p>
                    <p class="line-height" *ngIf="item['pathStatus']===0">{{'path-status' | translate }}：{{'path-status-no-pay' | translate }}</p>
                    <p class="line-height" *ngIf="item['pathStatus']===1">{{'path-status' | translate }}：{{'path-status-authing' | translate }}</p>
                    <p class="line-height" *ngIf="item['pathStatus']===2">{{'path-status' | translate }}：{{'path-status-authed' | translate }}</p>
                    <p class="line-height" *ngIf="item['pathStatus']===4">{{'path-status' | translate }}：{{'text-data-chain1' | translate }}</p>
                    <p class="line-height" *ngIf="item['pathStatus']===5">{{'path-status' | translate }}：{{'text-data-chain2' | translate }}</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
    </div>
</ion-content>
<ion-footer>
    <button ion-button full class="button-footer" (click)="onCommit()" style="width: 100%"> {{'add-path' | translate}}</button>
</ion-footer>