// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
//$app-direction: ltr;
//$font-path: "../assets/fonts";
//
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #488aff, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222, grey: #667, );
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
//@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
//
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";

/* You can add global styles to this file, and also import other style files */

//@import '~weui/src/style/weui.scss';
//@import '~ngx-weui';
@import "weui.min.scss";
$color-main: #0070C9;
$color-background :#fff;
$color-back: #fff;
$color-font-default :#030303;
$color-gray-dark :#706F73;
$color-gray-light :#B2B1B5;
$size-font : 1em;
$size-radius :5px;
$size-radius :5px;
$header-height: 48px;
$weuiBtnPrimaryActiveBg :$color-main;
.weui-toptips {
    background-color: $color-main;
}

.weui-tabbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 500;
    bottom: 0;
    width: 100%;
    left: 0px;
    right: 0px;
    background-color: #f7f7fa;
}

.weui-tab__panel>.active {
    display: block;
}

.weui-tab__panel>.weui-tab,
.weui-tab__panel>weui-tab {
    display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0
}

html,
body,
root,
example-tarbar,
example-layout {
    height: 100%;
    display: block;
    // font-size: $size-font;
    color: $color-font-default;
    overflow: auto;
}

body,
input,
textarea {
    //font-family: 微软雅黑, Arial, Helvetica, sans-serif;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-appearance: none;
    border: none;
}

ion-app.md {
    font-size: 1em;
}

//html, body {
//  width: 100%;
//  height: 100%;
//  overflow: hidden;
//  background-color: @color-background;
//  top: 0px;
//  right: 0px;
//  bottom: 0px;
//  left: 0px;
//  position: absolute;
//
//}
ul,
ol,
dl,
dd,
dt {
    list-style: none;
    margin: 0;
    padding: 0
}

em,
i,
s {
    font-style: normal;
    text-decoration: none
}

img {
    border: 0;
    margin: 0
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

small {
    font-size: 12px
}

a,
a:hover {
    text-decoration: none
}

.w100 {
    width: 100%;
}

.wh100 {
    width: 100%;
    height: 100%;
}

.f_l {
    float: left;
}

.f_r {
    float: right;
}

.header-height {
    // margin-top: 45px;
    //overflow: hidden;
    height: $header-height;
    display: block;
}

app-header {
    @extend .header-height;
}

.bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 80%;
    margin: 20px 10%;
}

.button-default {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: $color-main;
    color: #fff;
    text-align: center;
    border-radius: $size-radius;
    height: 40px;
    line-height: 40px;
    width: 80%;
}

.center {
    display: block;
    margin: 0px auto;
}

.weui-textarea-counter {
    color: #B2B2B2;
    text-align: right;
    font-size: 0.6em;
    width: 40px;
}
