@import "./../../../styles.less";

.receive-box{
  .receive-qrocde{
    display: block;
    padding-top: 20px;
    text-align: center;
  }

}

.receive-address{
  color: @color-gray-light;
  text-align: center;
  font-size: 0.8em;
}
.weui-cell__bd{
  font-size: 0.8em;
}

.receive-input{
  text-align: center;
  color: @color-gray-light;
}
