<app-header [header]="header"   ></app-header>
<div class="receive-box">
  <!--<qr-code [value]="code.qrcode" [size] = '200'></qr-code>-->

  <qrcode class="receive-qrocde" [qrdata]="qrcode" [size]="200" [level]="'M'" ></qrcode>

  <input class="weui-input receive-input" type="text"
         placeholder="{{'text-price' | translate}}"
         [(ngModel)]="amount" name="txt" type="number" (ngModelChange)="onChange()">
  <p class="receive-address" (click)="onNext(0)">{{address}} <img src="./assets/images/icon/icon-copy.svg"></p>
  <p class="receive-address-create" (click)="onNext(1)">{{ 'text-create-address' | translate }}</p>


  <!--<div class="weui-cells__title">{{'text-fees-pay' | translate}}</div>-->
  <!--<div class="weui-cells weui-cells_radio">-->
    <!--<label class="weui-cell weui-check__label" >-->
      <!--<div class="weui-cell__bd">-->
        <!--<p>{{'text-fees-pay-sender' | translate}}</p>-->
      <!--</div>-->
      <!--<div class="weui-cell__ft">-->
        <!--<input type="radio" class="weui-check" [(ngModel)]="code.payfees" name="radio1" [value]="1">-->
        <!--<span class="weui-icon-checked"></span>-->
      <!--</div>-->
    <!--</label>-->
    <!--<label class="weui-cell weui-check__label" >-->
      <!--<div class="weui-cell__bd">-->
        <!--<p>{{'text-fees-receiver' | translate}}</p>-->
      <!--</div>-->
      <!--<div class="weui-cell__ft">-->
        <!--<input type="radio" class="weui-check" [(ngModel)]="code.payfees" name="radio1" [value]="2">-->
        <!--<span class="weui-icon-checked"></span>-->
      <!--</div>-->
    <!--</label>-->
  <!--</div>-->

  <div class="recevie-bottom" (click)="onNext(2)">
    <p>{{ 'text-manager-address' | translate }}</p>
  </div>

</div>


