<ion-header>
    <ion-navbar>
        <ion-title style="text-align:center">{{coinName}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class='address-whole'>
        <div class="coin-info-top-box">
            <img src="./assets/images/logo-maincolor.svg">
            <div style="font-size: 1.6em;">{{coinCount}} </div>
        </div>

        <div class="weui-cells__title">{{ 'coin-recent-transfer' | translate }}</div>
        <ul class="weui-cells transfer-list">
            <li class="weui-cell weui-cell_access" *ngFor="let item of transferList" (click)="onItem(item)">
                <div class="weui-cell__hd">
                    <img src="./assets/images/tx-state/icon-tx-moved.svg" alt="" class="transfer-list-img"></div>
                <div class="weui-cell__bd">
                    <p><br/> {{item.status | translate}} <span class="transfer-list-date" *ngIf="item.timestamp!='0'"> {{item.datetime}} </span></p>
                </div>
                <div class="weui-cell__ft">{{item.balance - item.payfees > 0 ? '+' : ''}} {{item.balance - item.payfees}} </div>
            </li>
            <p style="text-align: center;font-size: 16px;height:30px;line-height:30px;margin-top: 5px" (click)="clickMore()" *ngIf="isShowMore">点击加载更多</p>
        </ul>
    </div>
</ion-content>
<ion-footer>
    <div class="coin-bottom">
        <div (click)="onNext(1)" style="font-size: 1.6em;">
            {{ 'text-receive' | translate }}
        </div>
        <div (click)="onNext(3)" style="font-size: 1.6em;">
            {{ this.textShow | translate }}
        </div>
        <div (click)="onNext(2)" style="font-size: 1.6em;">
            {{ 'text-transfer' | translate }}
        </div>
    </div>
</ion-footer>