<app-header [header]="header"   ></app-header>


<weui-ptr (refresh)="onRefresh($event)" style="text-align: center">
    <ul class="weui-cells transfer-list" style="text-align: left">
      <li class="weui-cell weui-cell_access" *ngFor="let item of transferList" (click)="onItem(item)">
        <div class="weui-cell__hd">
          <img src="./assets/images/tx-state/icon-tx-moved.svg" alt="" class="transfer-list-img"></div>
        <div class="weui-cell__bd">
          <p>{{item.address}}<br/> <span class="transfer-list-date">{{item.datetime}}</span></p>
        </div>
        <div class="weui-cell__ft">{{item.balance}} {{item.name}}</div>
      </li>
    </ul>

    <!-- <div *ngIf="newTransferList"> -->
      <div class="coin-outher" (click)="updateData(1)">{{'loader-more' | translate }}</div>
    <!-- </div> -->
</weui-ptr>
