<app-header [header]="header"></app-header>

<div class="coin-info-top-box">
  <img src="./../../assets/images/logo-maincolor.svg">
  <div>{{wallet.name}}</div>

</div>

<div class="weui-cells">

  <div class="weui-cell">
    <div class="weui-cell__bd">
      <input class="weui-input" type="text" placeholder="{{ 'text-pwd' | translate }}" [(ngModel)]="wallet.pwd">
    </div>

  </div>

  <div class="weui-cell">
    <div class="weui-cell__bd">
      <input class="weui-input" type="password" placeholder="{{ 'text-pwd-repeat' | translate }}"
             [(ngModel)]="wallet.rePwd">
    </div>
  </div>


</div>
<button class="button-default bottom" (click)="onDown()">{{ 'confirm' | translate }}</button>


