<ion-header>
    <ion-navbar>
        <ion-title style="text-align:center">{{'text-wallet-export' | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="coin-info-top-box">
        <img src="./assets/images/logo-maincolor.svg">
        <div style="font-size: 1.6em;">{{exprotObj.name}}</div>
    </div>
    <div *ngIf="!backupWalletPlainText">
        <ion-list>
            <ion-item>
                <ion-input type="password" placeholder="{{ 'text-wallet-pwd' | translate }}" [(ngModel)]="exprotObj.backupPassWord"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="password" placeholder="{{ 'text-wallet-repwd' | translate }}" [(ngModel)]="exprotObj.reBackupPassWord"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="password" placeholder="{{ 'text-pay-passworld-input' | translate }}" [(ngModel)]="exprotObj.payPassword"></ion-input>
            </ion-item>
        </ion-list>
    </div>

    <div *ngIf="backupWalletPlainText" class="kuangTextArea">
        <p>{{ 'text-keystroe-message' | translate }} </p>
        <textarea rows="10" class="backupWalletTextArea">{{backupWalletPlainText}}</textarea>
    </div>

</ion-content>
<ion-footer>
    <button *ngIf="!backupWalletPlainText" ion-button (click)="onDown()" style="width: 100%">{{ 'text-down' | translate }}</button>
    <button *ngIf="backupWalletPlainText" ion-button (click)="onCopay()" style="width: 100%">{{ 'text-copy-to-clipboard' | translate }}</button>
</ion-footer>