<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="ElaJava2JSBridge" version="1">
  <name>Java2JSBridge</name>
  <js-module name="Java2JSBridge" src="www/Java2JSBridge.js">
    <clobbers target="cordova.plugins.Java2JSBridge"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Java2JSBridge">
        <param name="android-package" value="ElaJava2JSBridge.Java2JSBridge"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/Java2JSBridge.java" target-dir="src/ElaJava2JSBridge"/>
  </platform>
</plugin>