<ion-header>
    <ion-navbar>
        <ion-title style="text-align: center">{{'text-record'|translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="recordinfo-top">
        <img src="./assets/images/tx-state/icon-tx-moved.svg" />
        <p>{{transactionRecord.status | translate}}</p>
    </div>

    <ion-list>
        <ion-item>
            <ion-row>
                <ion-col col-2>
                    {{'transaction-price' | translate}}
                </ion-col>
                <ion-col col-10>
                    {{transactionRecord.balance > 0 ? '+' : ''}} {{transactionRecord.balance}} {{transactionRecord.name}}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-2>
                    {{'transaction-id' | translate}}
                </ion-col>
                <ion-col col-10>
                    {{transactionRecord.txId}}
                </ion-col>
            </ion-row>


            <ion-row *ngIf="transactionRecord.balance > 0">
                <ion-col col-2>
                    {{'utxo-incoming' | translate}}
                </ion-col>
                <ion-col col-10>
                    {{transactionRecord.incomingAmount}}
                </ion-col>
            </ion-row>

            <ion-row *ngIf="transactionRecord.balance > 0">
                <ion-col col-2>
                    {{'utxo-incoming-address' | translate}}
                </ion-col>
                <ion-col col-10>
                    {{transactionRecord.incomingAddress}}
                </ion-col>
            </ion-row>

            <ion-row *ngIf="transactionRecord.balance < 0">
                <ion-col col-2>
                    {{'utxo-outcoming' | translate}}
                </ion-col>
                <ion-col col-10>
                    {{transactionRecord.outcomingAmount}}
                </ion-col>
            </ion-row>

            <ion-row *ngIf="transactionRecord.balance < 0">
                <ion-col col-2>
                    {{'utxo-outcoming-address' | translate}}
                </ion-col>
                <ion-col col-10>
                    {{transactionRecord.outcomingAddress}}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-2>
                    {{'transaction-time' | translate}}
                </ion-col>
                <ion-col col-10 *ngIf="transactionRecord.timestamp!='0'">
                    {{transactionRecord.transactionTime}}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-2>
                    {{'text-fees' | translate}}
                </ion-col>
                <ion-col col-10>
                    {{transactionRecord.payfees}}
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col col-2>
                    {{'confirm-count' | translate}}
                </ion-col>
                <ion-col col-10>
                    {{transactionRecord.confirmCount}}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-2>
                    {{'text-remark' | translate}}
                </ion-col>
                <ion-col col-10>
                    {{transactionRecord.remark}}
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>


    <!-- <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label" style="line-height: 40px">{{'transaction-price' | translate}}</label>
                <em class="weui-form-preview__value">{{transactionRecord.balance > 0 ? '+' : ''}}  {{transactionRecord.balance}} {{transactionRecord.name}}</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">{{'transaction-id' | translate}}</label>
                <a href="{{blockchain_url + 'tx/' + transactionRecord.txId}}">
                    <span class="weui-form-preview__value">{{transactionRecord.txId}}</span>
                </a>
            </div>

            <div class="weui-form-preview__item" *ngIf="transactionRecord.balance > 0">
                <label class="weui-form-preview__label">{{'utxo-incoming' | translate}}</label>
                <span class="weui-form-preview__value">{{transactionRecord.incomingAmount}}</span>
            </div>
            <div class="weui-form-preview__item" *ngIf="transactionRecord.balance > 0">
                <label class="weui-form-preview__label">{{'utxo-incoming-address' | translate}}</label>
                <span class="weui-form-preview__value">{{transactionRecord.incomingAddress}}</span>
            </div>

            <div class="weui-form-preview__item" *ngIf="transactionRecord.balance < 0">
                <label class="weui-form-preview__label">{{'utxo-outcoming' | translate}}</label>
                <span class="weui-form-preview__value">{{transactionRecord.outcomingAmount}}</span>
            </div>
            <div class="weui-form-preview__item" *ngIf="transactionRecord.balance < 0">
                <label class="weui-form-preview__label">{{'utxo-outcoming-address' | translate}}</label>
                <span class="weui-form-preview__value">{{transactionRecord.outcomingAddress}}</span>
            </div>

            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">{{'transaction-time' | translate}}</label>
                <span class="weui-form-preview__value" *ngIf="transactionRecord.timestamp!='0'">{{transactionRecord.transactionTime}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">{{'text-fees' | translate}}</label>
                <span class="weui-form-preview__value">{{transactionRecord.payfees}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">{{'confirm-count' | translate}}</label>
                <span class="weui-form-preview__value">{{transactionRecord.confirmCount}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">{{'text-remark' | translate}}</label>
                <span class="weui-form-preview__value">{{transactionRecord.remark}}</span>
            </div>
        </div>
    </div> -->
</ion-content>