<ion-header>
    <ion-navbar>
        <ion-title style="text-align: center">{{'text-record'|translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="recordinfo-top">
        <img src="./assets/images/tx-state/icon-tx-moved.svg" />
        <p>{{transactionRecord.status | translate}}</p>
    </div>

    <ion-grid>
        <ion-row class="font-size-1">
            <ion-col col-4>
                {{'transaction-price' | translate}}
            </ion-col>
            <ion-col col-8 class="text-right">
                {{transactionRecord.resultAmount > 0 ? '+' : ''}} {{transactionRecord.resultAmount}} {{transactionRecord.name}}
            </ion-col>
        </ion-row>

        <ion-row class="font-size-1">
            <ion-col col-4>
                {{'transaction-id' | translate}}
            </ion-col>
            <ion-col col-8 (click)="tiaozhuan(transactionRecord.txId)">
                {{transactionRecord.txId}}
            </ion-col>
        </ion-row>


        <ion-row *ngIf="transactionRecord.balance > 0" class="font-size-1">
            <ion-col col-4>
                {{'utxo-incoming' | translate}}
            </ion-col>
            <ion-col col-8 class="text-right" (click)="onNext(transactionRecord.incomingAddress)">
                {{transactionRecord.incomingAmount}}
            </ion-col>
        </ion-row>

        <ion-row *ngIf="transactionRecord.balance > 0" class="font-size-1">
            <ion-col col-4>
                {{'utxo-incoming-address' | translate}}
            </ion-col>
            <ion-col col-8 class="text-right huan-hang" (click)="onNext(transactionRecord.incomingAddress)">
                {{transactionRecord.incomingAddress}}
            </ion-col>
        </ion-row>

        <ion-row *ngIf="transactionRecord.balance < 0" class="font-size-1">
            <ion-col col-4>
                {{'utxo-outcoming' | translate}}
            </ion-col>
            <ion-col col-8 class="text-right" (click)="onNext(transactionRecord.outcomingAddress)">
                {{transactionRecord.outcomingAmount}}
            </ion-col>
        </ion-row>

        <ion-row *ngIf="transactionRecord.balance < 0" class="font-size-1">
            <ion-col col-4>
                {{'utxo-outcoming-address' | translate}}
            </ion-col>
            <ion-col col-8 class="text-right huan-hang" (click)="onNext(transactionRecord.outcomingAddress)">
                {{transactionRecord.outcomingAddress}}
            </ion-col>
        </ion-row>

        <ion-row class="font-size-1">
            <ion-col col-4>
                {{'transaction-time' | translate}}
            </ion-col>
            <ion-col col-8 *ngIf="transactionRecord.timestamp!='0'" class="text-right">
                {{transactionRecord.transactionTime}}
            </ion-col>
        </ion-row>

        <ion-row class="row" class="font-size-1">
            <ion-col col-4>
                {{'text-fees' | translate}}
            </ion-col>
            <ion-col col-8 class="text-right">
                {{transactionRecord.payfees}}
            </ion-col>
        </ion-row>


        <ion-row class="row" class="font-size-1">
            <ion-col col-4>
                {{'confirm-count' | translate}}
            </ion-col>
            <ion-col col-8 class="text-right">
                {{transactionRecord.confirmCount}}
            </ion-col>
        </ion-row>

        <ion-row class="row" class="font-size-1">
            <ion-col col-4>
                {{'text-remark' | translate}}
            </ion-col>
            <ion-col col-8 class="text-right">
                {{transactionRecord.remark}}
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>