app-recordinfo {
    .recordinfo-top {
        text-align: center;
        padding: 20px 0px;
        img {
            width: 20%;
        }
        p {
            font-size: 1.2em;
            color: $color-main;
        }
    }
    .font-size-1 {
        font-size: 18px;
    }
}