<ion-header>
    <ion-navbar>
        <ion-title style="text-align:center">{{'text-wallet-info' | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-bounce>
    <ion-list>

        <ion-item>
            <ion-label stacked>{{ 'addwallet-paypassword1-title' | translate }}</ion-label>
            <ion-input type="password" placeholder="{{ 'text-old-pay-password' | translate }}" [(ngModel)]="oldPayPassword"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="password" placeholder="{{ 'addwallet-paypassword1-placeholder' | translate }}" [(ngModel)]="payPassword"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="password" placeholder="{{ 'addwallet-paypassword2-placeholder' | translate }}" [(ngModel)]="rePayPassword"></ion-input>
        </ion-item>

    </ion-list>
</ion-content>
<ion-footer>
    <button ion-button full (click)="onSubmit()">{{ 'text-submit' | translate }}</button>
</ion-footer>