<app-header [header]="header"></app-header>


<div class="weui-cells">

  <div class="weui-cell">
    <div class="weui-cell__bd">
      <input class="weui-input" type="password" placeholder="{{ 'text-old-pay-password' | translate }}" [(ngModel)]="oldPayPassword">
    </div>

  </div>

  <div class="weui-cell">
    <div class="weui-cell__bd">
      <input class="weui-input" type="password" placeholder="{{ 'text-pay-password' | translate }}"
             [(ngModel)]="payPassword">
    </div>
  </div>

  <div class="weui-cell">
    <div class="weui-cell__bd">
      <input class="weui-input" type="password" placeholder="{{ 'text-pay-repassword' | translate }}"
             [(ngModel)]="rePayPassword">
    </div>
  </div>

</div>
<button class="button-default bottom" (click)="onSubmit()">{{ 'text-submit' | translate }}</button>


